@charset "utf-8";

  :root{
    --main-color: #fdc3ef;
    --sub-color: #c2588d;
    --main-font: "Jua", sans-serif;
  }

  body{
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.c-inner{
  max-width: 1200px;
  margin: 0 auto;

}

.c-main{
    margin: 0 auto;
  text-align: center;
  width: 80%;
  padding: 100px 50px;
  font-family: var(--main-font);
  border-radius: 30px;
  border: 5px solid var(--sub-color);
}

.c-main .profile{
  display: flex;
}

.c-main .profile .box1{
  width: 50%;
}
.c-main .profile .box1 img{
  width: 100%;
}
.c-main .profile .box2{
  width: 50%;

}

.c-main .profile .box2 .text1 ul{
  display: flex;
  gap: 20px;
  padding: 100px 0 20px 100px;
}

.c-main .profile .box2 .text1 ul li{
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}

.c-main .profile .box2 .text1 ul li:hover{
  color: var(--sub-color);
}

.c-main .profile .box2 .text2 ul{
  text-align: left;
  padding-left: 100px;
}

.c-main .profile .box2 .text2 ul li{
  padding: 10px 0;
  font-size: 2rem;
}

.c-main .profile .box2 .text2 ul li span{
  padding: 0 10px;
  font-weight: 700;
  color: var(--sub-color);
   font-size: 2.3rem;
}

.c-main .box3{
  padding: 50px 0 30px 0;
}

.c-main .box3 h2{
  padding: 10px 50px;
  background-color: var(--sub-color);
  color: #fff;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
}

.c-main .box3 h2:hover{
  background-color: var(--main-color);
  color: var(--sub-color);
}


.c-main .box3 p{
  padding: 30px 0;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  opacity: 0.5;
}

.c-main .box3 ul{
  display: flex;
  gap:10px;
  justify-content: center;
  margin-top: 30px;
}

.c-main .box3 ul li{
  display: inline;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: 2px solid var(--sub-color);
  border-radius: 30px;
  color: var(--sub-color);
  font-weight: 500;
  transition: all 0.5s;
}

.c-main .box3 ul li:hover{
  background-color: var(--sub-color);
  color: #fff;
}

.back a{
    padding: 10px 50px;
  background-color: var(--main-color);
  color: var(--sub-color);
  border-radius: 30px;
  display: inline-block;
  transition: all 0.5s;
  font-weight: 600;
}

.back a:hover{
    background-color: var(--sub-color);
  color: #fff;
}
